div.header {
    width: 980px;
    height: 140px;
    background-color: blue;
    display: flex;
    
}
div.sidebar {
    width: 270px;
    height: 450px;
    background-color: yellow;
    display: inline-block;
    
    
}
div.content {
    width: 690px;
    height: 450px;
    background-color: green;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    
}
div.footer {
    width: 980px;
    height: 70px;
    background-color: red;
    display: flex;
}